<!DOCTYPE html>
<html lang="en">

<head>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Craigslist Pet Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
    
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  




  <center>
    <!-- <div class="card-text-center"> -->

        <div class="card-body">
         
                <h1 class="card-title">Where Pets Find Their People</h1>
                <p class="card-text">Thousands of adoptable pets are looking for people. People like you.</p>
                
                <img class="card-img" src="static/pets_header.jpg" alt="Header image">
        </div>
        <input type="text" class="form-control" placeholder="Enter Zip code" aria-label="Enter Zipcode" aria-describedby="basic-addon2"id="zipcode">
        <input type="text" class="form-control2" placeholder="What kind of pet are you looking for? (Dog,Cat,Fish, etc)" aria-label="User's Input" aria-describedby="button-addon2"id="searchterm">
        
        <a href="/map" id="submit" class="btn">Find Your Next Pet! </a>
     <!-- </div> -->
    
    </center>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/logic.js"></script>
</body>

</html>