<!DOCTYPE html>
<html lang="en">

<head>
    
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Craigslist Pet Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
    
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
      <a href="#about">About</a>
    </div>
  
    <center> 
    <div id=front-id style="display:block">

        <div class="card-body">
         
                <h1 class="card-title">Where Pets Find Their People</h1>
                <p class="card-text">Thousands of adoptable pets are looking for people. People like you.</p>
                <div class="imgbox">
                  <img class="card-img" src="static/pets_header.jpg" alt="Header image">
                </div>
        </div>
       
        <form action="/action_page.php">
          
          <div class="input-container">
            <i class="fas fa-map-marker-alt" style="font-size:48px;color:rgb(209, 110, 201)"></i>
            <input class="input-field" type="text" placeholder="Enter Zipcode" name="zipcode" id="zipcode"> <i class="fas fa-paw" style="font-size:48px;color:rgb(209, 110, 201)"></i>
            <input class="input-field" type="text" placeholder="Kind of Pet" name="pet", id="searchterm">
          </div>
        
          <button id="submit"type="submit" class="btn">Find Your Next Pet! </button>
        </form>
    </div>
  </center>
  <div id="map-id" style="display:none"></div>

  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <!-- API Key -->
  <script type="text/javascript" src="../static/config.js"></script>
  <!-- d3 library -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- our script -->
  <script src="static/front.js"></script>  
</body>
</html>