<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Craigslist Pet Finder</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  
    <div class="card text-center">

        <div class="card-body">
            <div class="card bg-dark text-white">
                <img class="card-img" src="static/pets_header.jpg" alt="Header image">
                <div class="card-img-overlay">
          <h1 class="card-title">Where Pets Find Their People</h1>
          <p class="card-text">Thousands of adoptable pets are looking for people. People like you.</p>
          <!-- <a href="#" class="btn btn-primary">Find Your Next Pet!</a> -->
        </div>
        <div class="card-footer text-muted">
         
        </div>
      </div>
      <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter Zip code" aria-label="Enter Zipcode" aria-describedby="basic-addon2">
          <input type="text" class="form-control" placeholder="What kind of pet are you looking for?(Dog,Cat, etc)" aria-label="User's Input" aria-describedby="button-addon2">
          <div class="input-group-append">
          <a href="/map" class="btn btn-primary">Find Your Next Pet!</a>
            <!-- <button class="btn btn-outline-secondary" type="button">Dogs</button> -->
            <!-- <button class="btn btn-outline-secondary" type="button">Cats</button> -->
          </div>
        </div>
     
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="static/logic.js"></script>
</body>

</html>